* {

	margin: 0;
	padding: 0;

} /* End * */

.title {

	text-align: center;
	font-size: 100px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	user-select: none;

	/* Gradient Stuff */
	background-image: linear-gradient(65deg, #f04, #40f);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color:transparent;
	-moz-background-clip:text;
	-moz-text-fill-color:transparent;

}

.gridContainer {
	text-align: center;
	/* background-color: black; */
}

.card {
    width: 300px;
    height: 420px;
}

.body {
	background-color: #fff;
}

.light_line {
	width: 80%;
	margin: auto;
	height: 2px;
	background-color:
	#000;
	border:none
}

/* Checkbox Formatting */
.cbox {
    display: flex;
    align-items: center;
	user-select: none;
}

.cbox input[type="checkbox"] {
    display: none; /* Hide the default checkbox */
}

.cmark {
    width: 20px;
    height: 20px;
    border: 2px solid #0088ff;

    position: relative;
    margin-right: 5px;
    /* transition: background-color 0.3s, border-color 0.3s; */
}

.cbox input[type="checkbox"]:checked + .cmark {
    background-color: #ff8800;
    border-color: #ff8800;
}

.cbox input[type="checkbox"]:checked + .cmark:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
/* End Checkbox Formatting */

#big_card {
	width: 450px;
	height: 630px;
}

#details_body {
	background-color: red;
	margin: 50px;
	display: flex;
}

/* .spacing {
	width: 100%;
	background-color: green;
} */

#details_text {
	width: 100%;
	text-align: right;
	justify-self: right;
	background-color: blue;
	display: block;
	padding: 10px;
}

/* card details */

#card_nameline {
	display: inline-block;
	background-color: cyan;
	width: 100%;
}

#card_name  {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 30px;
	display: inline;
}

#card_mv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	display: inline;
}

#card_typeline {
	background-color: purple;
}

#card_oracle {
	background-color: white;
	/* white-space: pre; */
	/* background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdC b3g9JzAgMCAxMDAgMTAwJz48ZyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgwIC0x KScgZmlsbD0nbm9uZSc+PGNpcmNsZSBmaWxsPScjQ0FDNUMwJyBjeD0nNTAn IGN5PSc1MC45OTgnIHI9JzUwJy8+PHBhdGggZD0nTTM5LjgzMSAxOS4zMnY1 MC44NGMwIDYuMDQ5IDIuNTE2IDkuMDcgNy41MzYgOS4wN2gxLjI3OXYzLjQ0 OWgtMjcuMDgxdi0zLjQ0OWgxLjc4OGM1LjEwOSAwIDcuNjY3LTMuMDIxIDcu NjY3LTkuMDd2LTMzLjM0YzAtNi4xMzMtMi4xNzMtOS4xOTUtNi41MTgtOS4x OTVoLTIuNjgzdi0zLjQ0OWgxLjAyNGM1LjI4IDAgMTAuMDQ3LTEuNjE3IDE0 LjMwNC00Ljg1NWwyLjY4NC0uMDAxem0zMi40NDkgMHY1MC44NGMwIDYuMDQ5 IDIuNTExIDkuMDcgNy41MzcgOS4wN2gxLjI3OHYzLjQ0OWgtMjcuMDg2di0z LjQ0OWgxLjc4OGM1LjExNSAwIDcuNjY3LTMuMDIxIDcuNjY3LTkuMDd2LTMz LjM0YzAtNi4xMzMtMi4xNzMtOS4xOTUtNi41MTMtOS4xOTVoLTIuNjgydi0z LjQ0OWgxLjAxOWM1LjI4IDAgMTAuMDQ3LTEuNjE3IDE0LjMxLTQuODU1bDIu NjgyLS4wMDF6JyBmaWxsPScjMEQwRjBGJy8+PC9nPjwvc3ZnPgo= "); */
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icon {
	width: 24px;
	height: 24px;
	/* background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdC b3g9JzAgMCAxMDAgMTAwJz48ZyB0cmFuc2Zvcm09J3RyYW5zbGF0ZSgwIC0x KScgZmlsbD0nbm9uZSc+PGNpcmNsZSBmaWxsPScjQ0FDNUMwJyBjeD0nNTAn IGN5PSc1MC45OTgnIHI9JzUwJy8+PHBhdGggZD0nTTM5LjgzMSAxOS4zMnY1 MC44NGMwIDYuMDQ5IDIuNTE2IDkuMDcgNy41MzYgOS4wN2gxLjI3OXYzLjQ0 OWgtMjcuMDgxdi0zLjQ0OWgxLjc4OGM1LjEwOSAwIDcuNjY3LTMuMDIxIDcu NjY3LTkuMDd2LTMzLjM0YzAtNi4xMzMtMi4xNzMtOS4xOTUtNi41MTgtOS4x OTVoLTIuNjgzdi0zLjQ0OWgxLjAyNGM1LjI4IDAgMTAuMDQ3LTEuNjE3IDE0 LjMwNC00Ljg1NWwyLjY4NC0uMDAxem0zMi40NDkgMHY1MC44NGMwIDYuMDQ5 IDIuNTExIDkuMDcgNy41MzcgOS4wN2gxLjI3OHYzLjQ0OWgtMjcuMDg2di0z LjQ0OWgxLjc4OGM1LjExNSAwIDcuNjY3LTMuMDIxIDcuNjY3LTkuMDd2LTMz LjM0YzAtNi4xMzMtMi4xNzMtOS4xOTUtNi41MTMtOS4xOTVoLTIuNjgydi0z LjQ0OWgxLjAxOWM1LjI4IDAgMTAuMDQ3LTEuNjE3IDE0LjMxLTQuODU1bDIu NjgyLS4wMDF6JyBmaWxsPScjMEQwRjBGJy8+PC9nPjwvc3ZnPgo= ") */
}